---
import Slide from "./Slide.astro";
---

<Slide start={18} slides={3}>
  <div class="slide-star"><slot /></div>
</Slide>

<style is:global lang="scss">
  $slide: 18;

  @import "keyframes";

  // Initial animation: center the SVG container on the screen without the code blocks or frame
  @include keyframes(svg-container, left, [275px, 0]);
  @include keyframes(show, opacity, [0, 1]);
  @include keyframes(border, border-color, [transparent, gray]);

  // Content of SVG image
  @include keyframes(wings, opacity, [1, 0, 1]);

  // Code lines
  @include keyframes(lines-before, top, [3, 3, 0]);
  @include keyframes(g-opacity, opacity, [0, 0, 1]);

  @include keyframes(polygon-opacity, opacity, [0, 1]);
  @include keyframes(polygon-top, top, [2, 2, 0]);

  @include keyframes(use, opacity, [0, 0, 1]);
  @include keyframes(lines-after, top, [-3, -3, 0]);

  .slide-star .svg-container {
    position: relative;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
    animation-name: slide-#{$slide}-svg-container;
  }

  .slide-star .svg-viewbox-values {
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
    animation-name: slide-#{$slide}-show;
  }

  .slide-star svg {
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
    animation-name: slide-#{$slide}-border;
  }

  .slide-star .svg-base > use {
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
    animation-name: slide-#{$slide}-wings;
  }

  // HTML Code block
  .slide-star pre:nth-of-type(1) {
    position: relative;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
    animation-name: slide-#{$slide}-show;
  }

  .slide-star pre:nth-of-type(1) .line {
    position: relative;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
  }

  .slide-star pre:nth-of-type(1) .line:nth-child(1) {
    animation-name: slide-#{$slide}-lines-before;
  }

  .slide-star pre:nth-of-type(1) .line:nth-child(2),
  .slide-star pre:nth-of-type(1) .line:nth-child(5) {
    animation-name: slide-#{$slide}-g-opacity;
  }

  .slide-star pre:nth-of-type(1) .line:nth-child(3),
  .slide-star pre:nth-of-type(1) .line:nth-child(4) {
    animation-name:
      slide-#{$slide}-polygon-opacity,
      slide-#{$slide}-polygon-top;
  }

  .slide-star pre:nth-of-type(1) .line:nth-child(6),
  .slide-star pre:nth-of-type(1) .line:nth-child(7),
  .slide-star pre:nth-of-type(1) .line:nth-child(8),
  .slide-star pre:nth-of-type(1) .line:nth-child(9) {
    animation-name: slide-#{$slide}-use;
  }

  .slide-star pre:nth-of-type(1) .line:nth-child(10) {
    animation-name: slide-#{$slide}-lines-after;
  }
</style>
