---
import HomeLayout from "../layouts/HomeLayout.astro";
import App from "../components/home/App.astro";
import Day from "../components/home/Day.astro";
import Decoration from "../components/examples/Decoration.astro";
import Tree from "../components/examples/Tree.astro";
import Gingerbread from "../components/examples/Gingerbread.astro";
import House from "../components/examples/House.astro";
import Arrow from "../components/examples/Arrow.astro";
import Star from "../components/examples/Star.astro";
import Snowflake from "../components/examples/Snowflake.astro";
import Forest from "../components/examples/Forest.astro";
import DecorationWithClip from "../components/examples/DecorationWithClip.astro";
import Snowman from "../components/examples/Snowman.astro";
import ThreeWithCurves from "../components/examples/ThreeWithCurves.astro";
import Gift from "../components/examples/Gift.astro";
import Lamp from "../components/examples/Lamp.astro";
import Candy from "../components/examples/Candy.astro";
import Bear from "../components/examples/Bear.astro";
import Text from "../components/examples/Text.astro";
import Sled from "../components/examples/Sled.astro";
import RingingBell from "../components/examples/RingingBell.astro";
import Background from "../components/examples/Background.astro";
import Clock from "../components/examples/Clock.astro";
import Lights from "../components/examples/Lights.astro";
import Diagram from "../components/examples/Diagram.astro";
import SnowGlobe from "../components/examples/SnowGlobe.astro";
import Windmill from "../components/examples/Windmill.astro";

export const prerender = true;
---

<HomeLayout>
  <main>
    <App>
      <Day
        day={1}
        slot={`day-${1}`}
        Component={Decoration}
        link="basic-shapes"
        title="How to Draw Basic Shapes with SVG"
      />
      <Day
        day={2}
        slot={`day-${2}`}
        Component={Tree}
        link="polygon"
        title="How to Build a Christmas Tree with SVG"
      />
      <Day
        day={3}
        slot={`day-${3}`}
        Component={Gingerbread}
        link="gingerbread-figure"
        title="How to Make a Gingerbread Figure with SVG"
      />
      <Day
        day={4}
        slot={`day-${4}`}
        Component={House}
        link="house"
        title="How to Build a House with SVG"
      />
      <Day
        day={5}
        slot={`day-${5}`}
        Component={Arrow}
        link="basic-path"
        title="How to Draw a Basic Path with SVG"
      />
      <Day
        day={6}
        slot={`day-${6}`}
        Component={ThreeWithCurves}
        link="quadratic-bezier"
        title="How to Draw Quadratic Bézier Curves with SVG"
      />
      <Day
        day={7}
        slot={`day-${7}`}
        Component={Gift}
        link="cubic-bezier"
        title="How to Draw Cubic Bézier Curves with SVG"
      />
      <Day
        day={8}
        slot={`day-${8}`}
        Component={Bear}
        link="bear"
        title="How to Draw a Bear with SVG"
      />
      <Day
        day={9}
        slot={`day-${9}`}
        Component={Candy}
        link="arc"
        title="How to Draw an Arc with SVG"
      />
      <Day
        day={10}
        slot={`day-${10}`}
        Component={Star}
        link="transform"
        title="How to Draw a Star with SVG"
      />
      <Day
        day={11}
        slot={`day-${11}`}
        Component={Snowflake}
        link="use"
        title="How to Draw a Snowflake with SVG"
      />
      <Day
        day={12}
        slot={`day-${12}`}
        Component={Forest}
        link="scale"
        title="How to Scale SVG Elements"
      />
      <Day
        day={13}
        slot={`day-${13}`}
        Component={Lamp}
        link="lamp"
        title="How to Transform Elements in SVG"
      />
      <Day
        day={14}
        slot={`day-${14}`}
        Component={Windmill}
        link="css-animation"
        title="How to Animate an SVG with CSS"
      />
      <Day
        day={15}
        slot={`day-${15}`}
        Component={RingingBell}
        link="animation-on-hover"
        title="How to Add Animation on Hover of an SVG element"
      />
      <Day
        day={16}
        slot={`day-${16}`}
        Component={Snowman}
        link="gradient"
        title="How to Use Gradients with SVG"
      />
      <Day
        day={17}
        slot={`day-${17}`}
        Component={Background}
        link="svg-in-css"
        title="How to Inline SVG in CSS"
      />
      <Day
        day={18}
        slot={`day-${18}`}
        Component={DecorationWithClip}
        link="clip-path"
        title="How to use clip-path with SVG"
      />
      <Day
        day={19}
        slot={`day-${19}`}
        Component={Text}
        link="text-path"
        title="How to Draw Text Along a Path with SVG"
      />
      <Day
        day={20}
        slot={`day-${20}`}
        Component={Sled}
        link="path-based-animation"
        title="How to Animate Along a Path with SVG"
      />
      <Day
        day={21}
        slot={`day-${21}`}
        Component={Clock}
        link="clock"
        title="How to Draw a Clock with SVG and JavaScript that Shows the Actual Time"
      />
      <Day
        day={22}
        slot={`day-${22}`}
        Component={Lights}
        link="interaction"
        title="How to Add Interaction to SVG elements with JavaScript"
      />
      <Day
        day={23}
        slot={`day-${23}`}
        Component={Diagram}
        link="data-driven-diagram"
        title="How to Generate an SVG Diagram from JavaScript"
      />
      <Day
        day={24}
        slot={`day-${24}`}
        Component={SnowGlobe}
        link="multiple-components"
        title="How to Break Down an SVG Image into Multiple Components"
      />
    </App>
  </main>
</HomeLayout>
