---
import Day from "../components/Day.astro";
import Arrow from "../components/Arrow.astro";
import Decoration from "../components/Decoration.astro";
import Tree from "./Tree.astro";
import Gingerbread from "../components/Gingerbread.astro";
import House from "../components/House.astro";
import DecorationWithClip from "../components/DecorationWithClip.astro";
import Star from "../components/Star.astro";
import Snowflake from "../components/Snowflake.astro";
import Forest from "../components/Forest.astro";
import Snowman from "../components/Snowman.astro";
import ThreeWithCurves from "../components/ThreeWithCurves.astro";
import Gift from "../components/Gift.astro";
import Bell from "../components/Bell.astro";
import Candy from "../components/Candy.astro";
import Ribbon from "../components/Ribbon.astro";
import Bear from "../components/Bear.astro";
import Text from "../components/Text.astro";
import Sled from "./Sled.astro";
import RingingBell from "../components/RingingBell.astro";
import Snowing from "../components/Snowing.astro";
import Background from "../components/Background.astro";
import Clock from "../components/Clock.astro";
import Lights from "../components/Lights.astro";
import Diagram from "../components/Diagram.astro";
import SnowGlobe from "../components/SnowGlobe.astro";
---

<div class="App">
  <div class="grid">
    <header>
      <h1>SVG Tutorial</h1>
      <p>Learn to code SVG images step by step in HTML</p>
    </header>
    <div class="block">
      <Day
        day={1}
        Component={Decoration}
        link="basic-shapes"
        title="How to Draw Basic Shapes with SVG"
      />
      <Day
        day={2}
        Component={Tree}
        link="polygon"
        title="How to Build a Christmas Tree with SVG"
      />
      <Day
        day={3}
        Component={Gingerbread}
        link="gingerbread-figure"
        title="How to Make a Gingerbread Figure with SVG"
      />
      <Day
        day={4}
        Component={House}
        link="house"
        title="How to Build a House with SVG"
      />
      <Day
        day={5}
        Component={DecorationWithClip}
        link="clip-path"
        title="How to use clip-path with SVG"
      />
    </div>
    <div class="block">
      <Day
        day={6}
        Component={Arrow}
        link="basic-path"
        title="How to Draw a Basic Path with SVG"
      />
      <Day
        day={7}
        Component={Star}
        link="transform"
        title="How to Draw a Star with SVG"
      />
      <Day
        day={8}
        Component={Snowflake}
        link="use"
        title="How to Draw a Snowflake with SVG"
      />
      <Day
        day={9}
        Component={Forest}
        link="forest"
        title="How to Draw a Forest with SVG"
      />
      <Day
        day={10}
        Component={Snowman}
        link="gradient"
        title="How to Use Gradients with SVG"
      />
    </div>

    <div class="block">
      <Day
        day={11}
        Component={ThreeWithCurves}
        link="quadratic-bezier"
        title="How to Draw Quadratic Bézier Curves with SVG"
      />
      <Day
        day={12}
        Component={Gift}
        link="cubic-bezier"
        title="How to Draw Cubic Bézier Curves with SVG"
      />
      <Day
        day={13}
        Component={Bell}
        link="bell"
        title="How to Draw a Bell with SVG"
      />
      <Day
        day={14}
        Component={Candy}
        link="arc"
        title="How to Draw an Arc with SVG"
      />
    </div>

    <div class="big-block">
      <Day
        day={15}
        Component={Ribbon}
        link="ribbon"
        title="How to Draw a Ribbon with SVG"
      />

      <div class="twitter">
        Say Hello
        <a
          href="https://twitter.com/HunorBorbely"
          target="_blank"
          rel="noopener"
        >
          @HunorBorbely
        </a>
      </div>

      <Day
        day={16}
        Component={Bear}
        link="bear"
        title="How to Draw a Bear with SVG"
      />
      <Day
        day={17}
        Component={Text}
        link="text-path"
        title="How to Draw Text Along a Path with SVG"
      />
      <Day
        day={18}
        Component={Sled}
        link="path-based-animation"
        title="How to Animate Along a Path with SVG"
      />
      <Day
        day={19}
        Component={RingingBell}
        link="animation-on-hover"
        title="How to Add Animation on Hover of an SVG element"
      />
      <Day
        day={20}
        Component={Snowing}
        link="snowing"
        title="How to Animate a Snowing effect with SVG and CSS"
      />
      <Day
        day={21}
        Component={Background}
        link="background-pattern"
        title="How to Create Background Patterns with SVG and CSS"
      />
    </div>

    <div class="small-block">
      <Day
        day={22}
        Component={Clock}
        link="clock"
        title="How to Draw a Clock with SVG and JavaScript that Shows the Actual Time"
      />
      <Day
        day={23}
        Component={Lights}
        link="interaction"
        title="How to Add Interaction to SVG elements with JavaScript"
      />
      <Day
        day={24}
        Component={Diagram}
        link="data-driven-diagram"
        title="How to Generate an SVG Diagram from JavaScript"
      />
      <Day
        day={25}
        Component={SnowGlobe}
        link="multiple-components"
        title="How to Break Down an SVG Image into Multiple Components"
      />
    </div>
  </div>
</div>

<style is:global>
  .App {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  @media (min-width: 770px) and (min-height: 770px) {
    .App {
      align-items: center;
      height: 100vh;
    }
  }

  header {
    height: 120px;
    margin: 0;
    grid-row: 1;
    grid-column: 1/4;
  }

  header h1 {
    font-family: "Fredoka One", cursive;
  }

  svg {
    border-radius: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(12, auto);
    gap: 10px;
    padding: 50px 10px;
  }

  .grid .block:nth-of-type(1) {
    grid-row: 2/4;
    grid-column: 1/4;
  }

  .grid .block:nth-of-type(2) {
    grid-row: 4/6;
    grid-column: 1/4;
  }

  .grid .block:nth-of-type(3) {
    grid-row: 6/8;
    grid-column: 1/4;
  }

  .grid .big-block {
    grid-row: 8/11;
    grid-column: 1/4;
  }

  .grid .small-block {
    grid-row: 11;
    grid-column: 1/4;
  }

  @media (min-width: 770px) {
    .grid {
      grid-template-columns: repeat(6, auto);
      grid-template-rows: repeat(6, auto);
    }

    .grid .block:nth-of-type(1) {
      grid-row: 2/4;
      grid-column: 1/4;
    }

    .grid .block:nth-of-type(2) {
      grid-row: 4/6;
      grid-column: 1/4;
    }

    .grid .block:nth-of-type(3) {
      grid-row: 1/3;
      grid-column: 4/7;
    }

    .grid .big-block {
      grid-row: 3/6;
      grid-column: 4/7;
    }

    .grid .small-block {
      grid-row: 6;
      grid-column: 1/6;
    }
  }

  .block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: inherit;
  }

  .big-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: inherit;
  }

  .small-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: inherit;
  }

  @media (min-width: 770px) {
    .small-block {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }

  /* Day 2 */
  .block:nth-of-type(1) *:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1/3;
  }

  /* Day 10 */
  .block:nth-of-type(2) *:nth-of-type(5) {
    grid-column: 3;
    grid-row: 1/3;
  }

  /* Day 11 */
  .block:nth-of-type(3) *:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1/3;
  }

  /* Day 14 */
  .block:nth-of-type(3) *:nth-of-type(4) {
    grid-column: 3;
    grid-row: 1/3;
  }

  /* Day 18 */
  .big-block *:nth-child(5) {
    grid-column: 2/4;
    grid-row: 2;
  }

  /* Day 23 */
  .small-block *:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1;
  }

  /* For screen size below minimum width */
  @media (max-width: 389px) {
    .day,
    .day > svg {
      width: calc((100vw - 40px) / 3);
      height: calc((100vw - 40px) / 3);
    }

    /* Day 2 */
    .block:nth-of-type(1) > *:nth-of-type(2),
    .block:nth-of-type(1) > *:nth-of-type(2) svg,
    /* Day 10 */
    .block:nth-of-type(2) > *:nth-of-type(5),
    .block:nth-of-type(2) > *:nth-of-type(5) svg,
    /* Day 11 */
    .block:nth-of-type(3) > *:nth-of-type(1),
    .block:nth-of-type(3) > *:nth-of-type(1) svg,
    /* Day 14 */
    .block:nth-of-type(3) > *:nth-of-type(4),
    .block:nth-of-type(3) > *:nth-of-type(4) svg {
      width: calc((100vw - 40px) / 3);
      height: calc((100vw - 40px) / 3 * 2 + 10px);
    }

    /* Day 18 */
    .big-block > *:nth-child(5),
    .big-block > *:nth-child(5) svg,
    /* Day 23 */
    .small-block > *:nth-child(2),
    .small-block > *:nth-child(2) svg {
      width: calc((100vw - 40px) / 3 * 2 + 10px);
      height: calc((100vw - 40px) / 3);
    }

    /* Day 21: Background pattern */
    .big-block > *:nth-child(8) div {
      width: calc((100vw - 40px) / 3) !important;
      height: calc((100vw - 40px) / 3) !important;
    }
  }

  .twitter {
    color: #f5eed7;
    font-size: 0.8em;
    background-color: #16212b;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
