---
import { ViewTransitions } from "astro:transitions";

import Close from "../components/CloseButton.astro";
import Markdown from "../components/Markdown.astro";
import Share from "../components/ShareThisArticle.astro";
import Next from "../components/Next.astro";
import End from "../components/End.astro";

export interface Props {
  id: string;
  day: number;
  title: string;
  Component: any;
  description: string;
  previous?: {
    title: string;
    link: string;
  };
  next?: {
    title: string;
    link: string;
  };
}

const { id, day, title, Component, description, previous, next } =
  Astro.props as Props;

const longTitle = `Day ${day}: ${title}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${longTitle} - SVG Tutorial`}</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="Hunor Márton Borbély" />
    <meta
      property="article:published_time"
      content="2023-12-01T08:00:00+00:00"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={`${longTitle} - SVG Tutorial`} />
    <meta name="twitter:title" content={`${longTitle} - SVG Tutorial`} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:site_name" content="SVG Tutorial" />
    <meta name="twitter:site" content="@HunorBorbely" />
    <meta name="twitter:creator" content="@HunorBorbely" />

    <meta property="og:image" content={`https://svg-tutorial.com/${id}.png`} />
    <meta name="twitter:image" content={`https://svg-tutorial.com/${id}.png`} />
    <meta property="og:url" content="svg-tutorial.com" />
    <script>
      import { webVitals } from "../lib/vitals";
      import { inject } from "@vercel/analytics";

      let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        });
      }
      inject();
    </script>
  </head>

  <body>
    <div class="detail-screen">
      <figure class="image-for-big-screen">
        <Component size="1" id="big" />
      </figure>

      <article>
        <h1>{longTitle}</h1>
        <figure class="image-for-small-screen">
          <Component size="1" id="top" />
        </figure>
        <Markdown>
          <slot />
        </Markdown>
        <figure class="image-for-small-screen">
          <Component size="1" id="bottom" />
        </figure>

        <Share id={id} title={title} />
        {next && <Next next={next} />}
        {!next && <End />}
      </article>

      <Close />
    </div>
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

      html,
      body {
        height: 100%;
      }

      body {
        background-color: #151515;
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .detail-screen {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        overflow: hidden;

        display: grid;
        justify-content: center;
      }

      @media (min-width: 900px) {
        .detail-screen {
          grid-template-columns: 1.2fr minmax(500px, 2fr);
        }
      }

      figure {
        margin: 0;
        padding: 0;
      }

      article {
        overflow: scroll;
        max-height: 100%;

        padding: 40px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
      }

      article p,
      article h1,
      .columns,
      article div:not(.code-flex) {
        max-width: 550px;
      }

      @media (min-width: 900px) {
        article h1 {
          font-size: 2em;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
        }
      }

      @media (min-width: 1200px) {
        .detail-screen {
          width: 1200px;
          height: calc(100% - 30px);
          border-radius: 10px;
        }
        article {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      .image-for-big-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0 50px 0;
      }

      @media (max-width: 899px) {
        .image-for-big-screen {
          display: none;
        }
      }

      .image-for-small-screen {
        display: flex;
        justify-content: center;
      }

      @media (min-width: 900px) {
        .image-for-small-screen {
          display: none;
        }
      }
    </style>
  </body>
</html>
