---
import Head from "./Head.astro";
import FigmaCursors from "./FigmaCursors.astro";
import SVGDefs from "../components/markdown/elements/SVGDefs.astro";
import "@fontsource/lato";
import "./SVGCurves.css";

export interface Props {
  slug: string;
  day: number;
  title: string;
  description: string;
}

const { slug, day, title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head
    title={`Day ${day}: ${title} - SVG Tutorial`}
    description={description}
    image={`https://svg-tutorial.com/${slug}.png`}
    article={{ published_time: "2023-12-01T08:00:00+00:00" }}
  />

  <body data-day={day}>
    <SVGDefs />
    <slot />
    <FigmaCursors />
    <style is:global>
      html,
      body {
        height: 100%;
      }

      body {
        background-color: #151515;
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </body>
</html>
