---
import { ViewTransitions } from "astro:transitions";

import Arrow from "../components/Arrow.astro";
import Decoration from "../components/Decoration.astro";
import Tree from "../components/Tree.astro";
import Gingerbread from "../components/Gingerbread.astro";
import House from "../components/House.astro";
import DecorationWithClip from "../components/DecorationWithClip.astro";
import Star from "../components/Star.astro";
import Snowflake from "../components/Snowflake.astro";
import Forest from "../components/Forest.astro";
import DecorationWithGradient from "../components/DecorationWithGradient.astro";
import Snowman from "../components/Snowman.astro";
import ThreeWithCurves from "../components/ThreeWithCurves.astro";
import Gift from "../components/Gift.astro";
import Bell from "../components/Bell.astro";
import Candy from "../components/Candy.astro";
import Ribbon from "../components/Ribbon.astro";
import Bear from "../components/Bear.astro";
import Text from "../components/Text.astro";
import Sled from "../components/Sled.astro";
import RingingBell from "../components/RingingBell.astro";
import Snowing from "../components/Snowing.astro";
import Background from "../components/Background.astro";
import Clock from "../components/Clock.astro";
import Lights from "../components/Lights.astro";
import Diagram from "../components/Diagram.astro";
import SnowGlobe from "../components/SnowGlobe.astro";

import Close from "../components/CloseButton.astro";
import Markdown from "../components/Markdown.astro";
import Share from "../components/ShareThisArticle.astro";
import Next from "../components/Next.astro";
import End from "../components/End.astro";

const componentNamesObject = {
  Arrow,
  Decoration,
  Tree,
  Gingerbread,
  House,
  DecorationWithClip,
  Star,
  Snowflake,
  Forest,
  DecorationWithGradient,
  Snowman,
  ThreeWithCurves,
  Gift,
  Bell,
  Candy,
  Ribbon,
  Bear,
  Text,
  Sled,
  RingingBell,
  Snowing,
  Background,
  Clock,
  Lights,
  Diagram,
  SnowGlobe,
};

export interface Props {
  id: string;
  day: number;
  title: string;
  component: string;
  description: string;
  previous?: {
    title: string;
    link: string;
  };
  next?: {
    title: string;
    link: string;
  };
}

const { id, day, title, component, description, previous, next } =
  Astro.props as Props;

const longTitle = `Day ${day}: ${title}`;
const Component = componentNamesObject[component];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${longTitle} - SVG Tutorial`}</title>
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={`${longTitle} - SVG Tutorial`} />
    <meta name="twitter:title" content={`${longTitle} - SVG Tutorial`} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:site_name" content="SVG Tutorial" />
    <meta name="twitter:site" content="@HunorBorbely" />
    <meta name="twitter:creator" content="@HunorBorbely" />

    <meta property="og:image" content={`https://svg-tutorial.com/${id}.png`} />
    <meta name="twitter:image" content={`https://svg-tutorial.com/${id}.png`} />
    <meta property="og:url" content="svg-tutorial.com" />
    <script>
      import { webVitals } from "../lib/vitals";
      import { inject } from "@vercel/analytics";

      let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        });
      }
      inject();
    </script>
  </head>

  <body>
    <div class="detail-screen">
      <Close />
      <div class="image-for-big-screen">
        <Component size="1" id="big" />
      </div>

      <div class="details">
        <h1>{longTitle}</h1>
        <div class="image-for-small-screen">
          <Component size="1" id="top" />
        </div>
        <Markdown>
          <slot />
        </Markdown>
        <div class="image-for-small-screen">
          <Component size="1" id="bottom" />
        </div>

        <Share id={id} title={title} />
        {next && <Next next={next} />}
        {!next && <End />}
      </div>
    </div>
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

      html,
      body {
        height: 100%;
      }

      body {
        background-color: #151515;
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .detail-screen {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 100;
        display: grid;
        justify-content: center;
      }

      @media (min-width: 900px) {
        .detail-screen {
          grid-template-columns: 1.2fr minmax(500px, 2fr);
        }
      }

      .details {
        padding: 40px;
        overflow: scroll;
        color: black;
      }

      .details p,
      .details h1,
      .columns,
      .details div:not(.code-flex) {
        max-width: 550px;
      }

      @media (min-width: 1200px) {
        .detail-screen {
          width: 1200px;
          height: calc(100% - 30px);
          border-radius: 10px;
        }
        .details {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      .image-for-big-screen {
        display: flex;
        justify-content: center;
        padding: 50px 0 50px 0;
      }

      @media (max-width: 899px) {
        .image-for-big-screen {
          display: none;
        }
      }

      .image-for-small-screen {
        display: flex;
        justify-content: center;
      }

      @media (min-width: 900px) {
        .image-for-small-screen {
          display: none;
        }
      }
    </style>
  </body>
</html>
