---
import { ViewTransitions } from "astro:transitions";
import TableOfContents from "../components/TableOfContents.astro";
const title = "SVG Tutorial - Learn how to code images in HTML with SVG";
const description =
  "Learn the fundamentals of Scalable Vector Graphics (SVG) from the basics up to advanced concepts like animation and interactivity.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:site_name" content="SVG Tutorial" />
    <meta name="twitter:site" content="@HunorBorbely" />
    <meta name="twitter:creator" content="@HunorBorbely" />

    <meta property="og:image" content="https://svg-tutorial.com/image.png" />
    <meta name="twitter:image" content="https://svg-tutorial.com/image.png" />
    <meta property="og:url" content="svg-tutorial.com" />
    <script>
      import { webVitals } from "../lib/vitals";
      import { inject } from "@vercel/analytics";

      let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        });
      }
      inject();
    </script>
  </head>
  <body>
    <slot />

    <footer>
      <TableOfContents />
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/kBT90nwUb_o?si=X6zQ4Ju4kl7AeGVC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <div>
        SVG Tutorial made by <a
          href="https://bio.link/hunor"
          target="_blank"
          rel="noopener">Hunor Márton Borbély</a
        > in 2023
      </div>
    </footer>
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

      body {
        background-color: #151515;
        margin: 0;
      }

      a,
      a:visited {
        color: inherit;
      }

      * {
        box-sizing: border-box;
      }

      footer {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px 50px 20px;

        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      footer > * {
        padding: 20px 0 20px 0;
      }

      footer iframe {
        max-width: 100%;
      }
    </style>
  </body>
</html>
