---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/lato";

const title = "Summary";
const description = "A short summary of the SVG Tutorial";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} - SVG Tutorial`}</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="Hunor Márton Borbély" />
    <meta
      property="article:published_time"
      content="2024-05-30T08:00:00+00:00"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={`${title} - SVG Tutorial`} />
    <meta name="twitter:title" content={`${title} - SVG Tutorial`} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:site_name" content="SVG Tutorial" />
    <meta name="twitter:site" content="@HunorBorbely" />
    <meta name="twitter:creator" content="@HunorBorbely" />

    <meta property="og:image" content="https://svg-tutorial.com/image.png" />
    <meta name="twitter:image" content="https://svg-tutorial.com/image.png" />
    <meta property="og:url" content="svg-tutorial.com" />
    <script>
      import { webVitals } from "../lib/vitals";
      import { inject } from "@vercel/analytics";

      let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        });
      }
      inject();
    </script>

    <ViewTransitions />
  </head>

  <body>
    <slot />
    <style is:global>
      html,
      body {
        height: 100%;
      }

      body {
        background-color: #151515;
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      pre {
        overflow-x: initial !important; /* Overrinde inline style that messes up with scroll based animation
      }
    </style>
  </body>
</html>
